{% load static %}
<div class="col-xl-6">
  <div class="card">
    <div class="card-header align-items-center d-flex">
      <h4 class="card-title mb-0 flex-grow-1">پرفروش ترین محصولات</h4>
      <div class="flex-shrink-0">
        <div class="dropdown card-header-dropdown">
          <a
            class="text-reset dropdown-btn"
            href="#"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="fw-semibold text-uppercase fs-12"
              >مرتب سازی بر اساس:</span
            ><span class="text-muted"
              >امروز<i class="mdi mdi-chevron-down ms-1"></i
            ></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#">امروز</a>
            <a class="dropdown-item" href="#">دیروز</a>
            <a class="dropdown-item" href="#">7 روز گذشته</a>
            <a class="dropdown-item" href="#">30 روز گذشته</a>
            <a class="dropdown-item" href="#">این ماه</a>
            <a class="dropdown-item" href="#">ماه گذشته</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end card header -->

    <div class="card-body">
      <div class="table-responsive table-card">
        <table
          class="table table-hover table-centered align-middle table-nowrap mb-0"
        >
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar-sm bg-light rounded p-1 me-2">
                    <img
                      src={% static "minimal/assets/images/products/img-1.png" %}
                      alt=""
                      class="img-fluid d-block"
                    />
                  </div>
                  <div>
                    <h5 class="fs-14 my-1">
                      <a
                        href="apps-ecommerce-product-details.html"
                        class="text-reset"
                        >مارک دار تی شرت</a
                      >
                    </h5>
                    <span class="text-muted">24 آوریل 2021</span>
                  </div>
                </div>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">29.00 دلار</h5>
                <span class="text-muted">قیمت</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">62</h5>
                <span class="text-muted">سفارشات</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">510</h5>
                <span class="text-muted">سهام</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">1798 دلار</h5>
                <span class="text-muted">مقدار</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar-sm bg-light rounded p-1 me-2">
                    <img
                      src={% static "minimal/assets/images/products/img-2.png" %}
                      alt=""
                      class="img-fluid d-block"
                    />
                  </div>
                  <div>
                    <h5 class="fs-14 my-1">
                      <a
                        href="apps-ecommerce-product-details.html"
                        class="text-reset"
                        >بنتوود صندلی</a
                      >
                    </h5>
                    <span class="text-muted">19 مارس 2021</span>
                  </div>
                </div>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">85.20 دلار</h5>
                <span class="text-muted">قیمت</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">35</h5>
                <span class="text-muted">سفارشات</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">
                  <span class="badge bg-danger-subtle text-danger"
                    >خارج از سهام</span
                  >
                </h5>
                <span class="text-muted">سهام</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">2982 دلار</h5>
                <span class="text-muted">مقدار</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar-sm bg-light rounded p-1 me-2">
                    <img
                      src="{% static 'minimal/assets/images/products/img-3.png' %}"
                      alt=""
                      class="img-fluid d-block"
                    />
                  </div>
                  <div>
                    <h5 class="fs-14 my-1">
                      <a
                        href="apps-ecommerce-product-details.html"
                        class="text-reset"
                        >کاغذ بوروسیل جام</a
                      >
                    </h5>
                    <span class="text-muted">01 مارس 2021</span>
                  </div>
                </div>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">14.00 دلار</h5>
                <span class="text-muted">قیمت</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">80</h5>
                <span class="text-muted">سفارشات</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">749</h5>
                <span class="text-muted">سهام</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">1120 دلار</h5>
                <span class="text-muted">مقدار</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar-sm bg-light rounded p-1 me-2">
                    <img
                      src='{% static "minimal/assets/images/products/img-4.png" %}'
                      alt=""
                      class="img-fluid d-block"
                    />
                  </div>
                  <div>
                    <h5 class="fs-14 my-1">
                      <a
                        href="apps-ecommerce-product-details.html"
                        class="text-reset"
                        >یک نفره مبل</a
                      >
                    </h5>
                    <span class="text-muted">11 فوریه 2021</span>
                  </div>
                </div>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">127.50 دلار</h5>
                <span class="text-muted">قیمت</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">56</h5>
                <span class="text-muted">سفارشات</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">
                  <span class="badge bg-danger-subtle text-danger"
                    >خارج از سهام</span
                  >
                </h5>
                <span class="text-muted">سهام</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">7140 دلار</h5>
                <span class="text-muted">مقدار</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar-sm bg-light rounded p-1 me-2">
                    <img
                      src='{% static "minimal/assets/images/products/img-5.png"%}'
                      alt=""
                      class="img-fluid d-block"
                    />
                  </div>
                  <div>
                    <h5 class="fs-14 my-1">
                      <a
                        href="apps-ecommerce-product-details.html"
                        class="text-reset"
                        >کلاه ایمنی فولادی</a
                      >
                    </h5>
                    <span class="text-muted">17 ژانویه 2021</span>
                  </div>
                </div>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">54 دلار</h5>
                <span class="text-muted">قیمت</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">74</h5>
                <span class="text-muted">سفارشات</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">805</h5>
                <span class="text-muted">سهام</span>
              </td>
              <td>
                <h5 class="fs-14 my-1 fw-normal">3996 دلار</h5>
                <span class="text-muted">مقدار</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="align-items-center mt-4 pt-2 justify-content-between row text-center text-sm-start"
      >
        <div class="col-sm">
          <div class="text-muted">
            در حال نمایش <span class="fw-semibold">5</span> از
            <span class="fw-semibold"> 25 </span> نتایج
          </div>
        </div>
        <div class="col-sm-auto mt-3 mt-sm-0">
          <ul
            class="pagination pagination-separated pagination-sm mb-0 justify-content-center"
          >
            <li class="page-item disabled">
              <a href="#" class="page-link">←</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item active">
              <a href="#" class="page-link">2</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link">3</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link">→</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
