<div class='col-auto layout-rightside-col d-block'>
    <div class='overlay'></div>
    <div class='layout-rightside'>
        <div class='card h-100 rounded-0'>
            <div class='card-body p-0'>
                {% include "partials/main/recent-activity.html" %}
                {% include "partials/main/simplebar.html" %}
                {% include "partials/main/simplebar-category.html" %}
                {% include "partials/main/simplebar-comment.html" %}
                {% include "partials/main/simplebar-rate.html" %}
                {% include "partials/main/simplebar-alert.html" %}
            </div>
        </div>
    </div>
</div>