{% load static %}
<div class="p-3">
  <h6 class="text-muted mb-3 text-uppercase fw-semibold">نظرات محصولات</h6>
  <!-- Swiper -->
  <div
    class="swiper vertical-swiper swiper-initialized swiper-vertical swiper-rtl swiper-backface-hidden"
    style="height: 250px"
  >
    <div
      class="swiper-wrapper"
      id="swiper-wrapper-9daa508bfc4628b2"
      aria-live="off"
      style="
        transition-duration: 0ms;
        transform: translate3d(0px, -260px, 0px);
        transition-delay: 0ms;
      "
    >
      <div
        class="swiper-slide"
        style="height: 120px; margin-bottom: 10px"
        role="group"
        aria-label="3 / 4"
        data-swiper-slide-index="2"
      >
        <div class="card border border-dashed shadow-none">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-shrink-0 avatar-sm">
                <div class="avatar-title bg-light rounded">
                  <img
                    src="{% static 'minimal/assets/images/companies/img-8.png' %}"
                    alt=""
                    height="30"
                  />
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <div>
                  <p class="text-muted mb-1 fst-italic text-truncate-two-lines">
                    "محصول بسیار زیبا و بسیار مفید خدمات مشتری."
                  </p>
                  <div class="fs-11 align-middle text-warning">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                  </div>
                </div>
                <div class="text-end mb-0 text-muted">
                  - توسط<cite title="Source Title">زئوتیک مد</cite>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide swiper-slide-prev"
        style="height: 120px; margin-bottom: 10px"
        role="group"
        aria-label="4 / 4"
        data-swiper-slide-index="3"
      >
        <div class="card border border-dashed shadow-none">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img
                  src="{% static 'minimal/assets/images/users/avatar-2.jpg' %}"
                  alt=""
                  class="avatar-sm rounded"
                />
              </div>
              <div class="flex-grow-1 ms-3">
                <div>
                  <p class="text-muted mb-1 fst-italic text-truncate-two-lines">
                    "محصول بسیار زیبا است. من دوست دارم آن را "
                  </p>
                  <div class="fs-11 align-middle text-warning">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-half-fill"></i>
                    <i class="ri-star-line"></i>
                  </div>
                </div>
                <div class="text-end mb-0 text-muted">
                  - توسط<cite title="Source Title">نانسی مارتینو</cite>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide swiper-slide-active"
        style="height: 120px; margin-bottom: 10px"
        role="group"
        aria-label="1 / 4"
        data-swiper-slide-index="0"
      >
        <div class="card border border-dashed shadow-none">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-shrink-0 avatar-sm">
                <div class="avatar-title bg-light rounded">
                  <img
                    src="{% static 'minimal/assets/images/companies/img-1.png' %}"
                    alt=""
                    height="30"
                  />
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <div>
                  <p class="text-muted mb-1 fst-italic text-truncate-two-lines">
                    "محصول عالی و عالی به نظر می رسد، بسیاری از آنها ویژگی ها "
                  </p>
                  <div class="fs-11 align-middle text-warning">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                  </div>
                </div>
                <div class="text-end mb-0 text-muted">
                  - توسط<cite title="Source Title">زور داروها</cite>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide swiper-slide-next"
        style="height: 120px; margin-bottom: 10px"
        role="group"
        aria-label="2 / 4"
        data-swiper-slide-index="1"
      >
        <div class="card border border-dashed shadow-none">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img
                  src="{% static 'minimal/assets/images/users/avatar-3.jpg' %}"
                  alt=""
                  class="avatar-sm rounded"
                />
              </div>
              <div class="flex-grow-1 ms-3">
                <div>
                  <p class="text-muted mb-1 fst-italic text-truncate-two-lines">
                    "قالب شگفت انگیز، بسیار آسان است درک و دستکاری کنید. "
                  </p>
                  <div class="fs-11 align-middle text-warning">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-half-fill"></i>
                  </div>
                </div>
                <div class="text-end mb-0 text-muted">
                  - توسط<cite title="Source Title">هنری برد</cite>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span
      class="swiper-notification"
      aria-live="assertive"
      aria-atomic="true"
    ></span>
  </div>
</div>