{% load static %}
<div class="card sidebar-alert bg-light border-0 text-center mx-4 mb-0 mt-3">
  <div class="card-body">
    <img src="{% static 'minimal/assets/images/giftbox.png' %}" alt="" />
    <div class="mt-4">
      <h5>از فروشنده جدید دعوت کنید</h5>
      <p class="text-muted lh-base">
        یک فروشنده جدید را به ما معرفی کنید و 100 دلار کسب کنید در هر ارجاع
      </p>
      <button type="button" class="btn btn-primary btn-label rounded-pill">
        <i
          class="ri-mail-fill label-icon align-middle rounded-pill fs-16 me-2"
        ></i
        >اکنون دعوت کنید
      </button>
    </div>
  </div>
</div>