<div class="p-3 mt-2">
  <h6 class="text-muted mb-3 text-uppercase fw-semibold">10 دسته بندی برتر</h6>

  <ol class="ps-3 text-muted">
    <li class="py-1">
      <a href="#" class="text-muted"
        >موبایل و لوازم جانبی<span class="float-end">(10294)</span></a
      >
    </li>
    <li class="py-1">
      <a href="#" class="text-muted"
        >دسکتاپ<span class="float-end">(6256)</span></a
      >
    </li>
    <li class="py-1">
      <a href="#" class="text-muted"
        >الکترونیک<span class="float-end">(3,479)</span></a
      >
    </li>
    <li class="py-1">
      <a href="#" class="text-muted"
        >خانه و مبلمان<span class="float-end">(2275)</span></a
      >
    </li>
    <li class="py-1">
      <a href="#" class="text-muted"
        >خواربار فروشی<span class="float-end">(1950)</span></a
      >
    </li>
    <li class="py-1">
      <a href="#" class="text-muted">مد<span class="float-end">(1582)</span></a>
    </li>
    <li class="py-1">
      <a href="#" class="text-muted"
        >لوازم خانگی<span class="float-end">(1037)</span></a
      >
    </li>
    <li class="py-1">
      <a href="#" class="text-muted"
        >زیبایی، اسباب بازی و موارد دیگر<span class="float-end">(924)</span></a
      >
    </li>
    <li class="py-1">
      <a href="#" class="text-muted"
        >غذا و نوشیدنی<span class="float-end">(701)</span></a
      >
    </li>
    <li class="py-1">
      <a href="#" class="text-muted"
        >اسباب بازی و بازی<span class="float-end">(239)</span></a
      >
    </li>
  </ol>
  <div class="mt-3 text-center">
    <a href="javascript:void(0);" class="text-muted text-decoration-underline"
      >مشاهده همه دسته ها</a
    >
  </div>
</div>
