{% load static %}
<div class="col-xl-6">
  <div class="card card-height-100">
    <div class="card-header align-items-center d-flex">
      <h4 class="card-title mb-0 flex-grow-1">فروشندگان برتر</h4>
      <div class="flex-shrink-0">
        <div class="dropdown card-header-dropdown">
          <a
            class="text-reset dropdown-btn"
            href="#"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="text-muted"
              >گزارش دهید<i class="mdi mdi-chevron-down ms-1"></i
            ></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#">دانلود گزارش</a>
            <a class="dropdown-item" href="#">صادرات</a>
            <a class="dropdown-item" href="#">واردات</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end card header -->

    <div class="card-body">
      <div class="table-responsive table-card">
        <table
          class="table table-centered table-hover align-middle table-nowrap mb-0"
        >
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-2">
                    <img
                      src="{% static 'minimal/assets/images/companies/img-1.png' %}"
                      alt=""
                      class="avatar-sm p-2"
                    />
                  </div>
                  <div>
                    <h5 class="fs-14 my-1 fw-medium">
                      <a
                        href="apps-ecommerce-seller-details.html"
                        class="text-reset"
                        >کارخانه آی تست</a
                      >
                    </h5>
                    <span class="text-muted">الیور تایلر</span>
                  </div>
                </div>
              </td>
              <td>
                <span class="text-muted">کیف و کیف پول</span>
              </td>
              <td>
                <p class="mb-0">8547</p>
                <span class="text-muted">سهام</span>
              </td>
              <td>
                <span class="text-muted">541200 دلار</span>
              </td>
              <td>
                <h5 class="fs-14 mb-0">
                  32%<i
                    class="ri-bar-chart-fill text-success fs-16 align-middle ms-2"
                  ></i>
                </h5>
              </td>
            </tr>
            <!-- end -->
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-2">
                    <img
                      src={% static "minimal/assets/images/companies/img-2.png" %}
                      alt=""
                      class="avatar-sm p-2"
                    />
                  </div>
                  <div class="flex-grow-1">
                    <h5 class="fs-14 my-1 fw-medium">
                      <a
                        href="apps-ecommerce-seller-details.html"
                        class="text-reset"
                        >دیجی تک کهکشان</a
                      >
                    </h5>
                    <span class="text-muted">جان رابرتز</span>
                  </div>
                </div>
              </td>
              <td>
                <span class="text-muted">ساعت</span>
              </td>
              <td>
                <p class="mb-0">895</p>
                <span class="text-muted">سهام</span>
              </td>
              <td>
                <span class="text-muted">75030 دلار</span>
              </td>
              <td>
                <h5 class="fs-14 mb-0">
                  79%<i
                    class="ri-bar-chart-fill text-success fs-16 align-middle ms-2"
                  ></i>
                </h5>
              </td>
            </tr>
            <!-- end -->
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-2">
                    <img
                      src={% static "minimal/assets/images/companies/img-3.png" %}
                      alt=""
                      class="avatar-sm p-2"
                    />
                  </div>
                  <div class="flex-gow-1">
                    <h5 class="fs-14 my-1 fw-medium">
                      <a
                        href="apps-ecommerce-seller-details.html"
                        class="text-reset"
                        >نستا فن آوری ها</a
                      >
                    </h5>
                    <span class="text-muted">هارلی فولر</span>
                  </div>
                </div>
              </td>
              <td>
                <span class="text-muted">لوازم جانبی دوچرخه</span>
              </td>
              <td>
                <p class="mb-0">3470</p>
                <span class="text-muted">سهام</span>
              </td>
              <td>
                <span class="text-muted">45600 دلار</span>
              </td>
              <td>
                <h5 class="fs-14 mb-0">
                  90%<i
                    class="ri-bar-chart-fill text-success fs-16 align-middle ms-2"
                  ></i>
                </h5>
              </td>
            </tr>
            <!-- end -->
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-2">
                    <img
                      src={% static "minimal/assets/images/companies/img-8.png" %}
                      alt=""
                      class="avatar-sm p-2"
                    />
                  </div>
                  <div class="flex-grow-1">
                    <h5 class="fs-14 my-1 fw-medium">
                      <a
                        href="apps-ecommerce-seller-details.html"
                        class="text-reset"
                        >زئوتیک مد</a
                      >
                    </h5>
                    <span class="text-muted">جیمز بوون</span>
                  </div>
                </div>
              </td>
              <td>
                <span class="text-muted">لباس</span>
              </td>
              <td>
                <p class="mb-0">5488</p>
                <span class="text-muted">سهام</span>
              </td>
              <td>
                <span class="text-muted">29456 دلار</span>
              </td>
              <td>
                <h5 class="fs-14 mb-0">
                  40%<i
                    class="ri-bar-chart-fill text-success fs-16 align-middle ms-2"
                  ></i>
                </h5>
              </td>
            </tr>
            <!-- end -->
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-2">
                    <img
                      src={% static "minimal/assets/images/companies/img-5.png" %}
                      alt=""
                      class="avatar-sm p-2"
                    />
                  </div>
                  <div class="flex-grow-1">
                    <h5 class="fs-14 my-1 fw-medium">
                      <a
                        href="apps-ecommerce-seller-details.html"
                        class="text-reset"
                        >Meta4 Systems</a
                      >
                    </h5>
                    <span class="text-muted">زوئی دنیس</span>
                  </div>
                </div>
              </td>
              <td>
                <span class="text-muted">مبلمان</span>
              </td>
              <td>
                <p class="mb-0">4100</p>
                <span class="text-muted">سهام</span>
              </td>
              <td>
                <span class="text-muted">11260 دلار</span>
              </td>
              <td>
                <h5 class="fs-14 mb-0">
                  57%<i
                    class="ri-bar-chart-fill text-success fs-16 align-middle ms-2"
                  ></i>
                </h5>
              </td>
            </tr>
            <!-- end -->
          </tbody>
        </table>
        <!-- end table -->
      </div>

      <div
        class="align-items-center mt-4 pt-2 justify-content-between row text-center text-sm-start"
      >
        <div class="col-sm">
          <div class="text-muted">
            در حال نمایش <span class="fw-semibold">5</span> از
            <span class="fw-semibold"> 25 </span> نتایج
          </div>
        </div>
        <div class="col-sm-auto mt-3 mt-sm-0">
          <ul
            class="pagination pagination-separated pagination-sm mb-0 justify-content-center"
          >
            <li class="page-item disabled">
              <a href="#" class="page-link">←</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item active">
              <a href="#" class="page-link">2</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link">3</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link">→</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- .card-body-->
  </div>
  <!-- .card-->
</div>
