<div class="col-xl-4">
  <div class="card card-height-100">
    <div class="card-header align-items-center d-flex">
      <h4 class="card-title mb-0 flex-grow-1">
        بازدید از فروشگاه بر اساس منبع
      </h4>
      <div class="flex-shrink-0">
        <div class="dropdown card-header-dropdown">
          <a
            class="text-reset dropdown-btn"
            href="#"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="text-muted"
              >گزارش دهید<i class="mdi mdi-chevron-down ms-1"></i
            ></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#">دانلود گزارش</a>
            <a class="dropdown-item" href="#">صادرات</a>
            <a class="dropdown-item" href="#">واردات</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end card header -->

    <div class="card-body">
      <div
        id="store-visits-source"
        data-colors='["--vz-primary", "--vz-primary-rgb, 0.85", "--vz-primary-rgb, 0.70", "--vz-primary-rgb, 0.60", "--vz-primary-rgb, 0.45"]'
        class="apex-charts"
        dir="ltr"
        style="min-height: 333px"
      >
        <div
          id="apexchartsw4k49kyr"
          class="apexcharts-canvas apexchartsw4k49kyr apexcharts-theme-"
          style="width: 397px; height: 333px"
        >
          <svg
            id="SvgjsSvg1155"
            width="397"
            height="333"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.dev"
            class="apexcharts-svg"
            xmlns:data="ApexChartsNS"
            transform="translate(0, 0)"
          >
            <foreignObject x="0" y="0" width="397" height="333"
              ><div
                style="position: relative; height: 100%; width: 100%"
                xmlns="http://www.w3.org/1999/xhtml"
              >
                <div
                  class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom"
                  style="
                    right: 0px;
                    position: absolute;
                    left: 0px;
                    top: 304px;
                    max-height: 166.5px;
                  "
                >
                  <div
                    class="apexcharts-legend-series"
                    style="margin: 4px 5px"
                    rel="1"
                    seriesname="Direct"
                    data:collapsed="false"
                  >
                    <span
                      class="apexcharts-legend-marker"
                      style="height: 16px; width: 16px; left: 0px; top: 0px"
                      rel="1"
                      data:collapsed="false"
                      ><svg
                        id="SvgjsSvg1158"
                        width="100%"
                        height="100%"
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.dev"
                        ><defs id="SvgjsDefs1159"
                          ><clipPath id="gridRectMaskw4k49kyr"
                            ><rect
                              id="SvgjsRect1173"
                              width="397"
                              height="295"
                              x="0"
                              y="0"
                              rx="0"
                              ry="0"
                              opacity="1"
                              stroke-width="0"
                              stroke="none"
                              stroke-dasharray="0"
                              fill="#fff"
                            ></rect></clipPath
                          ><clipPath id="gridRectBarMaskw4k49kyr"
                            ><rect
                              id="SvgjsRect1174"
                              width="403"
                              height="301"
                              x="-3"
                              y="-3"
                              rx="0"
                              ry="0"
                              opacity="1"
                              stroke-width="0"
                              stroke="none"
                              stroke-dasharray="0"
                              fill="#fff"
                            ></rect></clipPath
                          ><clipPath id="gridRectMarkerMaskw4k49kyr"
                            ><rect
                              id="SvgjsRect1175"
                              width="397"
                              height="295"
                              x="0"
                              y="0"
                              rx="0"
                              ry="0"
                              opacity="1"
                              stroke-width="0"
                              stroke="none"
                              stroke-dasharray="0"
                              fill="#fff"
                            ></rect></clipPath
                          ><clipPath id="forecastMaskw4k49kyr"></clipPath
                          ><clipPath
                            id="nonForecastMaskw4k49kyr"
                          ></clipPath></defs
                        ><path
                          id="SvgjsPath1160"
                          d="M 0, 0 
           m -7, 0 
           a 7,7 0 1,0 14,0 
           a 7,7 0 1,0 -14,0"
                          fill="#25a0e2"
                          fill-opacity="1"
                          stroke="#ffffff"
                          stroke-opacity="0.9"
                          stroke-linecap="butt"
                          stroke-width="1"
                          stroke-dasharray="0"
                          cx="0"
                          cy="0"
                          shape="circle"
                          class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle"
                          style="transform: translate(50%, 50%)"
                        ></path></svg></span
                    ><span
                      class="apexcharts-legend-text"
                      style="
                        color: rgb(55, 61, 63);
                        font-size: 12px;
                        font-weight: 400;
                        font-family: Helvetica, Arial, sans-serif;
                      "
                      rel="1"
                      i="0"
                      data:default-text="Direct"
                      data:collapsed="false"
                      >Direct</span
                    >
                  </div>
                  <div
                    class="apexcharts-legend-series"
                    style="margin: 4px 5px"
                    rel="2"
                    seriesname="Social"
                    data:collapsed="false"
                  >
                    <span
                      class="apexcharts-legend-marker"
                      style="height: 16px; width: 16px; left: 0px; top: 0px"
                      rel="2"
                      data:collapsed="false"
                      ><svg
                        id="SvgjsSvg1161"
                        width="100%"
                        height="100%"
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.dev"
                        ><defs id="SvgjsDefs1162"></defs
                        ><path
                          id="SvgjsPath1163"
                          d="M 0, 0 
           m -7, 0 
           a 7,7 0 1,0 14,0 
           a 7,7 0 1,0 -14,0"
                          fill="rgba(37,160,226, 0.85)"
                          fill-opacity="1"
                          stroke="#ffffff"
                          stroke-opacity="0.9"
                          stroke-linecap="butt"
                          stroke-width="1"
                          stroke-dasharray="0"
                          cx="0"
                          cy="0"
                          shape="circle"
                          class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle"
                          style="transform: translate(50%, 50%)"
                        ></path></svg></span
                    ><span
                      class="apexcharts-legend-text"
                      style="
                        color: rgb(55, 61, 63);
                        font-size: 12px;
                        font-weight: 400;
                        font-family: Helvetica, Arial, sans-serif;
                      "
                      rel="2"
                      i="1"
                      data:default-text="Social"
                      data:collapsed="false"
                      >Social</span
                    >
                  </div>
                  <div
                    class="apexcharts-legend-series"
                    style="margin: 4px 5px"
                    rel="3"
                    seriesname="Email"
                    data:collapsed="false"
                  >
                    <span
                      class="apexcharts-legend-marker"
                      style="height: 16px; width: 16px; left: 0px; top: 0px"
                      rel="3"
                      data:collapsed="false"
                      ><svg
                        id="SvgjsSvg1164"
                        width="100%"
                        height="100%"
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.dev"
                        ><defs id="SvgjsDefs1165"></defs
                        ><path
                          id="SvgjsPath1166"
                          d="M 0, 0 
           m -7, 0 
           a 7,7 0 1,0 14,0 
           a 7,7 0 1,0 -14,0"
                          fill="rgba(37,160,226, 0.70)"
                          fill-opacity="1"
                          stroke="#ffffff"
                          stroke-opacity="0.9"
                          stroke-linecap="butt"
                          stroke-width="1"
                          stroke-dasharray="0"
                          cx="0"
                          cy="0"
                          shape="circle"
                          class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle"
                          style="transform: translate(50%, 50%)"
                        ></path></svg></span
                    ><span
                      class="apexcharts-legend-text"
                      style="
                        color: rgb(55, 61, 63);
                        font-size: 12px;
                        font-weight: 400;
                        font-family: Helvetica, Arial, sans-serif;
                      "
                      rel="3"
                      i="2"
                      data:default-text="Email"
                      data:collapsed="false"
                      >Email</span
                    >
                  </div>
                  <div
                    class="apexcharts-legend-series"
                    style="margin: 4px 5px"
                    rel="4"
                    seriesname="Other"
                    data:collapsed="false"
                  >
                    <span
                      class="apexcharts-legend-marker"
                      style="height: 16px; width: 16px; left: 0px; top: 0px"
                      rel="4"
                      data:collapsed="false"
                      ><svg
                        id="SvgjsSvg1167"
                        width="100%"
                        height="100%"
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.dev"
                        ><defs id="SvgjsDefs1168"></defs
                        ><path
                          id="SvgjsPath1169"
                          d="M 0, 0 
           m -7, 0 
           a 7,7 0 1,0 14,0 
           a 7,7 0 1,0 -14,0"
                          fill="rgba(37,160,226, 0.60)"
                          fill-opacity="1"
                          stroke="#ffffff"
                          stroke-opacity="0.9"
                          stroke-linecap="butt"
                          stroke-width="1"
                          stroke-dasharray="0"
                          cx="0"
                          cy="0"
                          shape="circle"
                          class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle"
                          style="transform: translate(50%, 50%)"
                        ></path></svg></span
                    ><span
                      class="apexcharts-legend-text"
                      style="
                        color: rgb(55, 61, 63);
                        font-size: 12px;
                        font-weight: 400;
                        font-family: Helvetica, Arial, sans-serif;
                      "
                      rel="4"
                      i="3"
                      data:default-text="Other"
                      data:collapsed="false"
                      >Other</span
                    >
                  </div>
                  <div
                    class="apexcharts-legend-series"
                    style="margin: 4px 5px"
                    rel="5"
                    seriesname="Referrals"
                    data:collapsed="false"
                  >
                    <span
                      class="apexcharts-legend-marker"
                      style="height: 16px; width: 16px; left: 0px; top: 0px"
                      rel="5"
                      data:collapsed="false"
                      ><svg
                        id="SvgjsSvg1170"
                        width="100%"
                        height="100%"
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.dev"
                        ><defs id="SvgjsDefs1171"></defs
                        ><path
                          id="SvgjsPath1172"
                          d="M 0, 0 
           m -7, 0 
           a 7,7 0 1,0 14,0 
           a 7,7 0 1,0 -14,0"
                          fill="rgba(37,160,226, 0.45)"
                          fill-opacity="1"
                          stroke="#ffffff"
                          stroke-opacity="0.9"
                          stroke-linecap="butt"
                          stroke-width="1"
                          stroke-dasharray="0"
                          cx="0"
                          cy="0"
                          shape="circle"
                          class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle"
                          style="transform: translate(50%, 50%)"
                        ></path></svg></span
                    ><span
                      class="apexcharts-legend-text"
                      style="
                        color: rgb(55, 61, 63);
                        font-size: 12px;
                        font-weight: 400;
                        font-family: Helvetica, Arial, sans-serif;
                      "
                      rel="5"
                      i="4"
                      data:default-text="Referrals"
                      data:collapsed="false"
                      >Referrals</span
                    >
                  </div>
                </div>
              </div>
              <style type="text/css">
                .apexcharts-legend {
                  display: flex;
                  overflow: auto;
                  padding: 0 10px;
                }
                .apexcharts-legend.apx-legend-position-bottom,
                .apexcharts-legend.apx-legend-position-top {
                  flex-wrap: wrap;
                }
                .apexcharts-legend.apx-legend-position-right,
                .apexcharts-legend.apx-legend-position-left {
                  flex-direction: column;
                  bottom: 0;
                }
                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left,
                .apexcharts-legend.apx-legend-position-top.apexcharts-align-left,
                .apexcharts-legend.apx-legend-position-right,
                .apexcharts-legend.apx-legend-position-left {
                  justify-content: flex-start;
                }
                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center,
                .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
                  justify-content: center;
                }
                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right,
                .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
                  justify-content: flex-end;
                }
                .apexcharts-legend-series {
                  cursor: pointer;
                  line-height: normal;
                  display: flex;
                  align-items: center;
                }
                .apexcharts-legend-text {
                  position: relative;
                  font-size: 14px;
                }
                .apexcharts-legend-text *,
                .apexcharts-legend-marker * {
                  pointer-events: none;
                }
                .apexcharts-legend-marker {
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  margin-right: 1px;
                }

                .apexcharts-legend-series.apexcharts-no-click {
                  cursor: auto;
                }
                .apexcharts-legend .apexcharts-hidden-zero-series,
                .apexcharts-legend .apexcharts-hidden-null-series {
                  display: none !important;
                }
                .apexcharts-inactive-legend {
                  opacity: 0.45;
                }
              </style></foreignObject
            >
            <g
              id="SvgjsG1157"
              class="apexcharts-inner apexcharts-graphical"
              transform="translate(0, 0)"
            >
              <defs id="SvgjsDefs1156"></defs>
              <g id="SvgjsG1178" class="apexcharts-pie">
                <g id="SvgjsG1179" transform="translate(0, 0) scale(1)">
                  <circle
                    id="SvgjsCircle1180"
                    r="89.63658536585366"
                    cx="198.5"
                    cy="147.5"
                    fill="transparent"
                  ></circle>
                  <g id="SvgjsG1181" class="apexcharts-slices">
                    <g
                      id="SvgjsG1182"
                      class="apexcharts-series apexcharts-pie-series"
                      seriesName="Direct"
                      rel="1"
                      data:realIndex="0"
                    >
                      <path
                        id="SvgjsPath1183"
                        d="M 198.5 9.597560975609753 A 137.90243902439025 137.90243902439025 0 0 1 336.3104371874472 152.53647605775615 L 288.07678417184064 150.7737094375415 A 89.63658536585366 89.63658536585366 0 0 0 198.5 57.86341463414634 L 198.5 9.597560975609753 z "
                        fill="rgba(37,160,226,1)"
                        fill-opacity="1"
                        stroke-opacity="1"
                        stroke-linecap="butt"
                        stroke-width="0"
                        stroke-dasharray="0"
                        class="apexcharts-pie-area apexcharts-donut-slice-0"
                        index="0"
                        j="0"
                        data:angle="92.09302325581395"
                        data:startAngle="0"
                        data:strokeWidth="0"
                        data:value="44"
                        data:pathOrig="M 198.5 9.597560975609753 A 137.90243902439025 137.90243902439025 0 0 1 336.3104371874472 152.53647605775615 L 288.07678417184064 150.7737094375415 A 89.63658536585366 89.63658536585366 0 0 0 198.5 57.86341463414634 L 198.5 9.597560975609753 z "
                      ></path>
                    </g>
                    <g
                      id="SvgjsG1186"
                      class="apexcharts-series apexcharts-pie-series"
                      seriesName="Social"
                      rel="2"
                      data:realIndex="1"
                    >
                      <path
                        id="SvgjsPath1187"
                        d="M 336.3104371874472 152.53647605775615 A 137.90243902439025 137.90243902439025 0 0 1 135.44516839111157 270.1424514580917 L 157.51435945422253 227.21759344775964 A 89.63658536585366 89.63658536585366 0 0 0 288.07678417184064 150.7737094375415 L 336.3104371874472 152.53647605775615 z "
                        fill="rgba(37,160,226, 0.85)"
                        fill-opacity="1"
                        stroke-opacity="1"
                        stroke-linecap="butt"
                        stroke-width="0"
                        stroke-dasharray="0"
                        class="apexcharts-pie-area apexcharts-donut-slice-1"
                        index="0"
                        j="1"
                        data:angle="115.11627906976746"
                        data:startAngle="92.09302325581395"
                        data:strokeWidth="0"
                        data:value="55"
                        data:pathOrig="M 336.3104371874472 152.53647605775615 A 137.90243902439025 137.90243902439025 0 0 1 135.44516839111157 270.1424514580917 L 157.51435945422253 227.21759344775964 A 89.63658536585366 89.63658536585366 0 0 0 288.07678417184064 150.7737094375415 L 336.3104371874472 152.53647605775615 z "
                      ></path>
                    </g>
                    <g
                      id="SvgjsG1190"
                      class="apexcharts-series apexcharts-pie-series"
                      seriesName="Email"
                      rel="3"
                      data:realIndex="2"
                    >
                      <path
                        id="SvgjsPath1191"
                        d="M 135.44516839111157 270.1424514580917 A 137.90243902439025 137.90243902439025 0 0 1 71.58201653902371 93.56570513045506 L 116.00331075036542 112.44270833479578 A 89.63658536585366 89.63658536585366 0 0 0 157.51435945422253 227.21759344775964 L 135.44516839111157 270.1424514580917 z "
                        fill="rgba(37,160,226, 0.70)"
                        fill-opacity="1"
                        stroke-opacity="1"
                        stroke-linecap="butt"
                        stroke-width="0"
                        stroke-dasharray="0"
                        class="apexcharts-pie-area apexcharts-donut-slice-2"
                        index="0"
                        j="2"
                        data:angle="85.81395348837208"
                        data:startAngle="207.2093023255814"
                        data:strokeWidth="0"
                        data:value="41"
                        data:pathOrig="M 135.44516839111157 270.1424514580917 A 137.90243902439025 137.90243902439025 0 0 1 71.58201653902371 93.56570513045506 L 116.00331075036542 112.44270833479578 A 89.63658536585366 89.63658536585366 0 0 0 157.51435945422253 227.21759344775964 L 135.44516839111157 270.1424514580917 z "
                      ></path>
                    </g>
                    <g
                      id="SvgjsG1194"
                      class="apexcharts-series apexcharts-pie-series"
                      seriesName="Other"
                      rel="4"
                      data:realIndex="3"
                    >
                      <path
                        id="SvgjsPath1195"
                        d="M 71.58201653902371 93.56570513045506 A 137.90243902439025 137.90243902439025 0 0 1 126.66105646051803 29.78743108738645 L 151.8046866993367 70.98683020680119 A 89.63658536585366 89.63658536585366 0 0 0 116.00331075036542 112.44270833479578 L 71.58201653902371 93.56570513045506 z "
                        fill="rgba(37,160,226, 0.60)"
                        fill-opacity="1"
                        stroke-opacity="1"
                        stroke-linecap="butt"
                        stroke-width="0"
                        stroke-dasharray="0"
                        class="apexcharts-pie-area apexcharts-donut-slice-3"
                        index="0"
                        j="3"
                        data:angle="35.58139534883719"
                        data:startAngle="293.0232558139535"
                        data:strokeWidth="0"
                        data:value="17"
                        data:pathOrig="M 71.58201653902371 93.56570513045506 A 137.90243902439025 137.90243902439025 0 0 1 126.66105646051803 29.78743108738645 L 151.8046866993367 70.98683020680119 A 89.63658536585366 89.63658536585366 0 0 0 116.00331075036542 112.44270833479578 L 71.58201653902371 93.56570513045506 z "
                      ></path>
                    </g>
                    <g
                      id="SvgjsG1198"
                      class="apexcharts-series apexcharts-pie-series"
                      seriesName="Referrals"
                      rel="5"
                      data:realIndex="4"
                    >
                      <path
                        id="SvgjsPath1199"
                        d="M 126.66105646051803 29.78743108738645 A 137.90243902439025 137.90243902439025 0 0 1 198.4759314840471 9.597563075983999 L 198.48435546463062 57.8634159993896 A 89.63658536585366 89.63658536585366 0 0 0 151.8046866993367 70.98683020680119 L 126.66105646051803 29.78743108738645 z "
                        fill="rgba(37,160,226, 0.45)"
                        fill-opacity="1"
                        stroke-opacity="1"
                        stroke-linecap="butt"
                        stroke-width="0"
                        stroke-dasharray="0"
                        class="apexcharts-pie-area apexcharts-donut-slice-4"
                        index="0"
                        j="4"
                        data:angle="31.395348837209326"
                        data:startAngle="328.6046511627907"
                        data:strokeWidth="0"
                        data:value="15"
                        data:pathOrig="M 126.66105646051803 29.78743108738645 A 137.90243902439025 137.90243902439025 0 0 1 198.4759314840471 9.597563075983999 L 198.48435546463062 57.8634159993896 A 89.63658536585366 89.63658536585366 0 0 0 151.8046866993367 70.98683020680119 L 126.66105646051803 29.78743108738645 z "
                      ></path>
                    </g>
                    <g id="SvgjsG1184" class="apexcharts-datalabels">
                      <text
                        id="SvgjsText1185"
                        font-family="Helvetica, Arial, sans-serif"
                        x="280.40306703702095"
                        y="68.53551738252663"
                        text-anchor="middle"
                        dominant-baseline="auto"
                        font-size="12px"
                        font-weight="600"
                        fill="#ffffff"
                        class="apexcharts-text apexcharts-pie-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                      >
                        25.6%
                      </text>
                    </g>
                    <g id="SvgjsG1188" class="apexcharts-datalabels">
                      <text
                        id="SvgjsText1189"
                        font-family="Helvetica, Arial, sans-serif"
                        x="255.9835674761729"
                        y="245.67912902103114"
                        text-anchor="middle"
                        dominant-baseline="auto"
                        font-size="12px"
                        font-weight="600"
                        fill="#ffffff"
                        class="apexcharts-text apexcharts-pie-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                      >
                        32.0%
                      </text>
                    </g>
                    <g id="SvgjsG1192" class="apexcharts-datalabels">
                      <text
                        id="SvgjsText1193"
                        font-family="Helvetica, Arial, sans-serif"
                        x="91.51288016027023"
                        y="186.1944194104952"
                        text-anchor="middle"
                        dominant-baseline="auto"
                        font-size="12px"
                        font-weight="600"
                        fill="#ffffff"
                        class="apexcharts-text apexcharts-pie-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                      >
                        23.8%
                      </text>
                    </g>
                    <g id="SvgjsG1196" class="apexcharts-datalabels">
                      <text
                        id="SvgjsText1197"
                        font-family="Helvetica, Arial, sans-serif"
                        x="112.39514851914218"
                        y="73.13968493493711"
                        text-anchor="middle"
                        dominant-baseline="auto"
                        font-size="12px"
                        font-weight="600"
                        fill="#ffffff"
                        class="apexcharts-text apexcharts-pie-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                      >
                        9.9%
                      </text>
                    </g>
                    <g id="SvgjsG1200" class="apexcharts-datalabels">
                      <text
                        id="SvgjsText1201"
                        font-family="Helvetica, Arial, sans-serif"
                        x="167.71836480166087"
                        y="37.97378012716601"
                        text-anchor="middle"
                        dominant-baseline="auto"
                        font-size="12px"
                        font-weight="600"
                        fill="#ffffff"
                        class="apexcharts-text apexcharts-pie-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                      >
                        8.7%
                      </text>
                    </g>
                  </g>
                </g>
              </g>
              <line
                id="SvgjsLine1202"
                x1="0"
                y1="0"
                x2="397"
                y2="0"
                stroke="#b6b6b6"
                stroke-dasharray="0"
                stroke-width="1"
                stroke-linecap="butt"
                class="apexcharts-ycrosshairs"
              ></line>
              <line
                id="SvgjsLine1203"
                x1="0"
                y1="0"
                x2="397"
                y2="0"
                stroke-dasharray="0"
                stroke-width="0"
                stroke-linecap="butt"
                class="apexcharts-ycrosshairs-hidden"
              ></line>
            </g>
            <g
              id="SvgjsG1176"
              class="apexcharts-datalabels-group"
              transform="translate(0, 0) scale(1)"
            ></g>
            <g
              id="SvgjsG1177"
              class="apexcharts-datalabels-group"
              transform="translate(0, 0) scale(1)"
            ></g>
          </svg>
          <div class="apexcharts-tooltip apexcharts-theme-dark">
            <div
              class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-0"
              style="order: 1"
            >
              <span
                class="apexcharts-tooltip-marker"
                style="background-color: rgb(37, 160, 226)"
              ></span>
              <div
                class="apexcharts-tooltip-text"
                style="
                  font-family: Helvetica, Arial, sans-serif;
                  font-size: 12px;
                "
              >
                <div class="apexcharts-tooltip-y-group">
                  <span class="apexcharts-tooltip-text-y-label"></span
                  ><span class="apexcharts-tooltip-text-y-value"></span>
                </div>
                <div class="apexcharts-tooltip-goals-group">
                  <span class="apexcharts-tooltip-text-goals-label"></span
                  ><span class="apexcharts-tooltip-text-goals-value"></span>
                </div>
                <div class="apexcharts-tooltip-z-group">
                  <span class="apexcharts-tooltip-text-z-label"></span
                  ><span class="apexcharts-tooltip-text-z-value"></span>
                </div>
              </div>
            </div>
            <div
              class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-1"
              style="order: 2"
            >
              <span
                class="apexcharts-tooltip-marker"
                style="background-color: rgba(37, 160, 226, 0.85)"
              ></span>
              <div
                class="apexcharts-tooltip-text"
                style="
                  font-family: Helvetica, Arial, sans-serif;
                  font-size: 12px;
                "
              >
                <div class="apexcharts-tooltip-y-group">
                  <span class="apexcharts-tooltip-text-y-label"></span
                  ><span class="apexcharts-tooltip-text-y-value"></span>
                </div>
                <div class="apexcharts-tooltip-goals-group">
                  <span class="apexcharts-tooltip-text-goals-label"></span
                  ><span class="apexcharts-tooltip-text-goals-value"></span>
                </div>
                <div class="apexcharts-tooltip-z-group">
                  <span class="apexcharts-tooltip-text-z-label"></span
                  ><span class="apexcharts-tooltip-text-z-value"></span>
                </div>
              </div>
            </div>
            <div
              class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-2"
              style="order: 3"
            >
              <span
                class="apexcharts-tooltip-marker"
                style="background-color: rgba(37, 160, 226, 0.7)"
              ></span>
              <div
                class="apexcharts-tooltip-text"
                style="
                  font-family: Helvetica, Arial, sans-serif;
                  font-size: 12px;
                "
              >
                <div class="apexcharts-tooltip-y-group">
                  <span class="apexcharts-tooltip-text-y-label"></span
                  ><span class="apexcharts-tooltip-text-y-value"></span>
                </div>
                <div class="apexcharts-tooltip-goals-group">
                  <span class="apexcharts-tooltip-text-goals-label"></span
                  ><span class="apexcharts-tooltip-text-goals-value"></span>
                </div>
                <div class="apexcharts-tooltip-z-group">
                  <span class="apexcharts-tooltip-text-z-label"></span
                  ><span class="apexcharts-tooltip-text-z-value"></span>
                </div>
              </div>
            </div>
            <div
              class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-3"
              style="order: 4"
            >
              <span
                class="apexcharts-tooltip-marker"
                style="background-color: rgba(37, 160, 226, 0.6)"
              ></span>
              <div
                class="apexcharts-tooltip-text"
                style="
                  font-family: Helvetica, Arial, sans-serif;
                  font-size: 12px;
                "
              >
                <div class="apexcharts-tooltip-y-group">
                  <span class="apexcharts-tooltip-text-y-label"></span
                  ><span class="apexcharts-tooltip-text-y-value"></span>
                </div>
                <div class="apexcharts-tooltip-goals-group">
                  <span class="apexcharts-tooltip-text-goals-label"></span
                  ><span class="apexcharts-tooltip-text-goals-value"></span>
                </div>
                <div class="apexcharts-tooltip-z-group">
                  <span class="apexcharts-tooltip-text-z-label"></span
                  ><span class="apexcharts-tooltip-text-z-value"></span>
                </div>
              </div>
            </div>
            <div
              class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-4"
              style="order: 5"
            >
              <span
                class="apexcharts-tooltip-marker"
                style="background-color: rgba(37, 160, 226, 0.45)"
              ></span>
              <div
                class="apexcharts-tooltip-text"
                style="
                  font-family: Helvetica, Arial, sans-serif;
                  font-size: 12px;
                "
              >
                <div class="apexcharts-tooltip-y-group">
                  <span class="apexcharts-tooltip-text-y-label"></span
                  ><span class="apexcharts-tooltip-text-y-value"></span>
                </div>
                <div class="apexcharts-tooltip-goals-group">
                  <span class="apexcharts-tooltip-text-goals-label"></span
                  ><span class="apexcharts-tooltip-text-goals-value"></span>
                </div>
                <div class="apexcharts-tooltip-z-group">
                  <span class="apexcharts-tooltip-text-z-label"></span
                  ><span class="apexcharts-tooltip-text-z-value"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .card-->
</div>
